{% extends 'base.html.twig' %}

{% block title %}AcmeParent{% endblock %}

{% block body %}
    <h1>AcmeParent</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ acme_parent.id }}</td>
            </tr>
            <tr>
                <th>FieldPA</th>
                <td>{{ acme_parent.fieldPA }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('acme_parent_index') }}">back to list</a>

    <a href="{{ path('acme_parent_edit', {'id': acme_parent.id}) }}">edit</a>

    {{ include('acme_parent/_delete_form.html.twig') }}
{% endblock %}