{% extends 'base.html.twig' %}

{% block title %}Acme index{% endblock %}

{% block body %}
    <h1>Acme index
        <a class="btn btn-lg btn-success float-right" href="{{ path('acme_new') }}">Create new</a>
    </h1>
    <hr>

    <table class="table table-sm table-hover table-datatable">
        <thead>
        <tr>
            <th>Id</th>
            <th>FieldA</th>
            <th>FieldB</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for acme in acmes %}
            <tr>
                <td>{{ acme.id }}</td>
                <td>{{ acme.fieldA }}</td>
                <td>{{ acme.fieldB }}</td>
                <td>
                    <span class="btn-group">
                        <a class="btn btn-sm btn-info" href="{{ path('acme_show', {'id': acme.id}) }}">show</a>
                        <a class="btn btn-sm btn-warning" href="{{ path('acme_edit', {'id': acme.id}) }}">edit</a>
                    </span>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}