<div>
    <ul class="navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link {{ locale('fr') }}"
               href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale':'fr'})) }}">FR</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {{ locale('en') }}"
               href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale':'en'})) }}">EN</a>
        </li>
    </ul>
</div>

{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false">
            {{ app.user }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{{ path('fos_user_profile_show') }}">Profil</a>
            <a class="dropdown-item" href="{{ path('fos_user_profile_edit') }}">Edit</a>
            <a class="dropdown-item" href="{{ path('fos_user_security_logout') }}">Logout</a>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{{ path('admin') }}" target="_blank">Administration</a>
            {% endif %}
        </div>
    </div>
{% else %}
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('fos_user_security_login') }}">Login</a>
        </li>
    </ul>
{% endif %}