<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>

<header>
    {% block menu %}
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="{{ path('index') }}">ACME</a>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                {{ include('_menu/_main.html.twig') }}
                {{ include('_menu/_user.html.twig') }}
            </div>
        </nav>
    {% endblock %}
</header>

<main class="container" role="main">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                <strong>{{ label|trans }}</strong> {{ message|trans }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
</main>

<footer class="footer">
    <span class="text-muted">Place sticky footer content here.</span>
</footer>

<div id="locale-for-js" data-lang="{{ app.request.locale }}"></div>
<script src="{{ asset('build/js/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>

</html>
