<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>

<body>
{# TODO stop nav overlap main #}
<header>
    {% block menu %}
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="/">ACME</a>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                {{ knp_menu_render('main') }}
                {{ include('_user_menu.html.twig') }}
            </div>
        </nav>
    {% endblock %}
</header>

<main class="container" role="main">
    {% block body %}{% endblock %}
</main>

<footer class="footer">
    <span class="text-muted">Place sticky footer content here.</span>
</footer>

<div id="locale-for-js" data-lang="{{ app.request.locale }}"></div>
<script src="{{ asset('build/js/app.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>

</html>
